
  
   
   .box  { 
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: black;
      margin-left: 100px;
   }
   .left{
    width: 0px;
    height: 100px;
    color: aliceblue;
    background-color: wheat;
    transition: width 3s ease;
   }
   .expand {
    width: 0px;  
  }
   button{
      background-color: black;
      color: white;
       width:70px;
   }
   
   .perFloor{
     display: flex;
     flex-direction: column;
     height: 100px;
   }
   

   .elevators{
     display: flex;
     white-space: nowrap;
     margin-top: -22px;
   }

   .single-floor{
     height: 120px;   
   }

   .line{
    height: 4px;
    width: 1000px;
    color: blue;
    z-index: +2;
   }
   